// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

*,
*::after,
*::before {
  box-sizing: border-box;
}
// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #4b4841;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 180px;
    border-radius: 3px;
    perspective: 800px;

    .flip {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 1s ease-in-out;
      perspective: 1000px;
      box-shadow: 0 5px 20px 0 rgb(0 0 0 / 50%);

      &:hover {
        transform: rotateX(180deg) translate3d(0, 0, 0);
        box-shadow: 0 -5px 20px 0 rgb(0 0 0 / 50%);
      }
    }
    .front {
      position: absolute;
      transform: rotateX(0deg);
      z-index: 5;
      width: 100%;
      height: 100%;
      background: #ffce4e;
      overflow: hidden;
      backface-visibility: hidden;

      .bike {
        position: relative;
        top: 52px;
        left: 50%;
        transform: translateX(-50%);
        animation: 0.9s bike ease-in infinite;
        transform-origin: 50% 100%;
      }

      .street {
        position: absolute;
        top: 128px;
        width: 210px;
        height: 5px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

        @for $i from 1 through 9 {
          .stripe-#{$i} {
            position: absolute;
            right: -25px;
            width: calc(4px + #{$i}px);
            height: 3px;
            background-color: #4b4841;
            border-radius: 1px;
            animation: 1s street linear 0.75s infinite;
          }
        }
        .stripe-1 {
          animation-duration: 0.9s;
          animation-delay: 0.1s;
        }
        .stripe-2 {
          animation-duration: 1s;
          animation-delay: 1s;
        }
        .stripe-3 {
          animation-duration: 0.85s;
          animation-delay: 0.1s;
        }
        .stripe-4 {
          animation-duration: 0.8s;

          animation-delay: 0.7s;
        }
        .stripe-5 {
          animation-duration: 1s;

          animation-delay: 0.8s;
        }
        .stripe-6 {
          animation-duration: 1s;

          animation-delay: 1s;
        }
        .stripe-7 {
          animation-delay: 0.3s;
        }
        .stripe-8 {
          animation-delay: 0.7s;
        }
        .stripe-9 {
          animation-duration: 1.25s;
          animation-delay: 0.5s;
        }
      }
    }
    .back {
      position: absolute;
      transform: rotateX(180deg);
      width: 100%;
      height: 100%;
      z-index: 4;
      backface-visibility: hidden;
      background: #ffce4e;
      overflow: hidden;

      .helicopter {
        position: relative;
        top: 52px;
        left: 50%;
        transform: translateX(-50%);
        animation: 1.5s helicopter linear infinite;
        transform-origin: 50% 100%;
        z-index: 2;
      }
      .sky {
        position: absolute;
        top: 0;
        left: 50%;
        width: 160px;
        height: 100%;
        transform: translateX(-50%);
        overflow: hidden;

        @for $i from 1 through 9 {
          .cloud-#{$i} {
            position: absolute;
            top: #{20 + random(140)}px;
            right: -25px;
            width: calc(14px + #{calc(random(100) / 20)}px);
            height: 3px;
            background-color: #4b4841;
            border-radius: 1px;
            animation: 0.7s street linear #{calc(random(100) / 100)}s infinite;
            z-index: 1;
          }
        }

        .cloud-3 {
          animation-delay: 0.5s;
        }
        .cloud-9 {
          animation-delay: 0.25s;
        }
      }
    }
  }
}

// Animations

@keyframes bike {
  0% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.03);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes helicopter {
  0%,
  100% {
    transform: translateX(-50%) translateY(-5px);
  }
  50% {
    transform: translateX(-50%) translateY(0px);
  }
}

@keyframes street {
  0% {
    transform: translateX(0) scaleX(1);
  }

  100% {
    transform: translateX(-210px) scaleX(0.8);
  }
}

@keyframes cloud {
  0% {
    transform: translateX(0) scaleX(1);
  }

  100% {
    transform: translateX(-210px) scaleX(0.5);
  }
}
